.DS_Store
*.tar.gz
devpaas-vm/packer/packer_cache/
devpaas-vm/packer/packer_logs/
.terraform
virtualbox-*.box
*.vdi
*.tfstate
*.tfstate.backup
gce_googlecompute.pem
gcp_accountfile.json
*.vmdk
*.ovf
.idea/
devpaas-vm/packer/build/
*.terraform