.DS_Store

*.tar.gz
devpaas-vm/packer/packer_cache/
devpaas-vm/packer/packer_logs/

*.box
*.vdi
*.tfstate
*.tfstate.backup
*.plan
*.pem
gcp_accountfile.json
*.vmdk
*.ovf
*.ova
.vagrant/
.terraform/
.idea/
devpaas-vm/packer/build/
*.terraform